{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["airbnb"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "semi": "off",
    "no-unused-vars": "warn",
    "no-trailing-spaces": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "object-curly-spacing": "off",
    "space-in-parens": "off",
    "arrow-spacing": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "import/order": "off",
    "no-unused-expressions": "off",
    "no-restricted-globals": "off",
    "operator-linebreak": "off",
    "object-curly": "off",
    "arrow-body-style": "off",
    "object-curly-newline": "off",
    "react/jsx-curly-newline": "off",
    "no-irregular-whitespace": "off"
  }
}
